<div class="container">
    <div class="row">
        <div class="col-lg-3">

            <div class="affix">
                    <nav class="col-lg-3">
                        <ul class="faq nav nav-pills nav-stacked affix" style="    min-width: 15%;">
                            <li><a class="menuLink" [ngx-scroll-to]="'#priceDestination'" i18n="@@priceTitle">Price</a>
                            </li>
                            <li><a class="menuLink" [ngx-scroll-to]="'#meetingDestination'" i18n="@@meetingTitle">Meeting</a>
                            </li>
                        </ul>
                    </nav>
            </div>
        </div>
        <div class="col-lg-9 cardContent">
            <div class="card faq" id="priceDestination">
                <div class="card-header">
                    <h3 class="faqheader" i18n="@@priceTitle">Price</h3>
                </div>
                <div class="card-body">
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.
                        With supporting text below as a natural lead-in to additional content.
                        With supporting text below as a natural lead-in to additional content.
                        With supporting text below as a natural lead-in to additional content.
                        With supporting text below as a natural lead-in to additional content.
                        With supporting text below as a natural lead-in to additional content.
                        With supporting text below as a natural lead-in to additional content.

                    </p>
                </div>
            </div>
            <div class="card faq" id="meetingDestination">
                <div class="card-header">
                    <h3 class="faqheader" i18n="@@meetingTitle">Meeting</h3>
                </div>
                <div class="card-body">
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.
                        With supporting text below as a natural lead-in to additional content.
                        With supporting text below as a natural lead-in to additional content.
                        With supporting text below as a natural lead-in to additional content.
                        With supporting text below as a natural lead-in to additional content.
                        With supporting text below as a natural lead-in to additional content.
                        With supporting text below as a natural lead-in to additional content.
                        With supporting text below as a natural lead-in to additional content.
                        With supporting text below as a natural lead-in to additional content.
                        With supporting text below as a natural lead-in to additional content.
                        With supporting text below as a natural lead-in to additional content.
                        With supporting text below as a natural lead-in to additional content.
                        With supporting text below as a natural lead-in to additional content.
                        With supporting text below as a natural lead-in to additional content.
                        With supporting text below as a natural lead-in to additional content.
                        With supporting text below as a natural lead-in to additional content.
                        With supporting text below as a natural lead-in to additional content.
                        With supporting text below as a natural lead-in to additional content.
                        With supporting text below as a natural lead-in to additional content.
                        With supporting text below as a natural lead-in to additional content.
                        With supporting text below as a natural lead-in to additional content.
                        With supporting text below as a natural lead-in to additional content.
                        With supporting text below as a natural lead-in to additional content.
                        With supporting text below as a natural lead-in to additional content.
                        With supporting text below as a natural lead-in to additional content.
                        With supporting text below as a natural lead-in to additional content.
                        With supporting text below as a natural lead-in to additional content.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>