.faq{
  padding: 1em;
  margin-bottom: 1em;
  background-color: white;
  color: #000;
  font-size: 18px;
  line-height: 22px;
}

.faqheader{
  font-weight:bold;
  padding-top: 1em;
  color: #1D1D1D;
  font-family: 'Proxima Nova','Arial','Helvetica Neue',sans-serif;
  font-size: 24px;
  line-height: 27px;
  margin: 0 auto 15px;
  text-align: center;
}

.cardContent{
  max-width: 75%;
  float: right;
}


@media only screen and (max-width: 768px){
  .col-lg-3 {
    visibility: hidden;
  }
  .cardContent{
    max-width: 100%;
    float: none;
  }

}

.menuLink {
  color : black;
  font-family: 'Proxima Nova','Arial','Helvetica Neue',sans-serif;
  font-size: 16px;
  font-weight: bold;
  line-height: 19px;
}