<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <div class="form-wrap">

                <form (ngSubmit)="onSubmit()" id="order-form" #f="ngForm">
                    <div class="form-group">
                        <label for="formControlName" i18n="@@name">Name</label>
                        <input type="email" class="form-control" id="formControlName" name="formControlName"
                               placeholder="John Smith" [(ngModel)]="order.name" validateName required #name1="ngModel">
                    </div>

                    <div *ngIf="name1.invalid && (name1.dirty || name1.touched)"
                         class="alert alert-danger" i18n="@@nameFill">
                        Please fill the name field
                    </div>

                    <div class="form-group">
                        <label for="formControlEmail" i18n="@@email">Email address</label>
                        <input type="email" class="form-control" id="formControlEmail" name="formControlEmail"
                               placeholder="name@example.com" [(ngModel)]="order.email" #email1="ngModel"
                               [pattern]="emailPattern" required>

                    </div>


                    <div *ngIf="email1.invalid && (email1.dirty || email1.touched)"
                         class="alert alert-danger" i18n="@@emailFill">
                        Please fill the email field
                    </div>

                    <div class="form-group">
                        <label for="formControlPhone" i18n="@@contacts">Contact phone</label>
                        <textarea class="form-control" id="formControlPhone" name="formControlPhone" rows="1"
                                  [(ngModel)]="order.phone" #phone1="ngModel"></textarea>
                    </div>

                    <div class="form-group">
                        <label for="formControlNotes" i18n="@@notes">Notes</label>
                        <textarea class="form-control" id="formControlNotes" rows="3" name="formControlNotes"  [(ngModel)]="order.notes"
                        ></textarea>
                    </div>

                    <div class="form-group">
                        <label for="formControlDate" i18n="@@start">Start Date</label>
                        <textarea class="form-control" id="formControlDate" rows="1" name="formControlDate"
                                  [readonly]="true" [value]="order.date"
                        >
                        </textarea>
                    </div>

                    <input type="submit" id="btn-send" class="btn btn-custom btn-lg btn-block" value="Order"
                           [disabled]="!f.valid">
                </form>

            </div>
        </div>
    </div>
</div>