.aboutCentered{
  text-align:  center;
}

.wantToGo{
  margin-top: 2em;
}

.orWantToGo {
  font-size:2em;
}

.instaCarousel{
  width: 500px;
  height: 500px
}


@media only screen and (max-width: 768px){
  .instaaFeed{
    visibility: hidden;
    display: none;
  }

  .aboutContent{
    width: 100%;
  }
}