<div class="container">
    <div class="row">
        <div class="col-xs-6">
            <p>Dummy textDummy textDummy textDummy textDummy textDummy textDummy textDummy textDummy textDummy textDummy
                textDummy text
                Dummy textDummy textDummy textDummy textDummy textDummy textDummy textDummy textDummy text
                Dummy textDummy textDummy textDummy textDummy textDummy textDummy textDummy textDummy textDummy text
                Dummy textDummy textDummy textDummy textDummy textDummy textDummy textv</p>
            <p class="aboutCentered wantToGo">
            <a class="btn btn-lg btn-success" [routerLink]="['/items']">
                <span i18n="@@chooseATour">Book</span></a>
            </p>
            <p class="aboutCentered orWantToGo" i18n="@@orAbout">Or</p>
            <p class="aboutCentered">
                <a class="btn btn-social-icon btn-instagram btn-lg" href="http://instagram.com/na_perevalah/">
                    <span class="fa fa-instagram"></span>

                </a>
                <a class="btn btn-lg btn-social-icon btn-facebook">
                    <span class="fa fa-facebook"></span>
                </a>
            </p>

        </div>
        <div class="col-xs-6">
            <div style="width: 500px; height: 500px ">
                <carousel [sources]="imageSources" [config]="config"></carousel>
            </div>
        </div>
    </div>
</div>