@import "../../constants";

h1 {
	color: purple;
}

.showdetails {
	margin-top: 1em;
}

.showdetails > .btn-primary{
	background-color: #5981a3;
	border: none;
}
.card > .card-body{
	border: 5px solid #B78B5C;
	background-color: #fff;
	text-align: center;
	box-shadow: none;
	font-weight: normal;
	font-family: 'PFRegal','Georgia',serif;
	font-size: 2em;
}

.card-deck {
	display: flex;
	justify-content: flex-start;
	flex-flow: row wrap;
	align-items: stretch;
}
.card-deck .card {
	display: block;
	flex-basis: 33.3%; /* change this value for each breakpoint*/
}