<div class="container">



    <div class="card">
        <div class="card-body">
            This is some text within a card body.
        </div>
    </div>
    <div *ngFor="let item of routes;" class="col-sm-3">
        <div class="card">
            <div class="card-block">
                <h3 class="card-title">{{item.name}}</h3>
                <p class="card-text text-with-spacing">{{item.name}}</p>
                <img [src]='item.image' class="img-thumbnail rounded">
                <nav class="showdetails">
                    <a href="#"[routerLink]="['details',item.id]" class="btn btn-primary">Show details</a>
                </nav>
            </div>
        </div>
    </div>
</div>
