div.plumHome {
    
}
#about-us {
  float: right;
}

.navbar-default {
  background-color: #000000;
  font-family: 'Proxima Nova','Arial','Helvetica Neue',sans-serif !important;
  text-transform: uppercase;
  font-weight: 600;
  color: #ffffff;
}
.navbar-default .navbar-nav > li > a {
  color: #ffffff;
}