<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="about-us">
            <ul class="nav navbar-nav">
                <li class="aboutIcon">  <a class="btn btn-social-icon btn-instagram">
                    <span class="fa fa-instagram"></span>
                </a></li>
                <li  class="aboutIcon">  <a class="btn btn-social-icon btn-facebook">
                    <span class="fa fa-facebook"></span>
                </a></li>
                <li><a [routerLink]="['about']" i18n="@@about">About Me</a></li>
            </ul>
        </div>
        <div class="navbar-header">
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a [routerLink]="['items']" i18n="@@mainPage">Main Page</a></li>
                    <li><a [routerLink]="['faq']"  i18n="@@faq">FAQ</a></li>

                </ul>
            </div>

        </div>
    </div>
</nav>
<router-outlet></router-outlet>