<div *ngIf="item">

    <h2>{{ item.name | uppercase }} Details</h2>
    <div class="list-group col-xs-12">
        <a class="list-group-item list-group-item-action active">
            Select available date:
        </a>
        <span *ngFor="let date of item.availableDates">
            <a (click) = "selectDate(date.availableDate)" [class.disabled]="selectedDate && date.availableDate == selectedDate"
               class="list-group-item d-flex justify-content-between align-items-center">
                {{ date.availableDate | date: 'dd/MM/yyyy' }}
                <span class="badge badge-primary badge-pill">Info</span>
            </a>
        </span>
    </div>
    <a (click)="checkout()" class="btn btn-primary" [class.disabled]="!selectedDate">Checkout</a>

</div>